<ion-content padding>
  <ion-header>
    <ion-navbar color="primary">
      <ion-title>
        Log In
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <img src="http://placehold.it/300x100">
    <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email
address" [class.invalid]="!loginForm.controls.email.valid &&
loginForm.controls.email.dirty"></ion-input>
        26
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&
loginForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>
      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password" placeholder="Your
password" [class.invalid]="!loginForm.controls.password.valid &&
loginForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid &&
loginForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>
      <button ion-button block type="submit" [disabled]="!loginForm.valid">
Login
</button>
    </form>

    <button ion-button block clear (click)="goToSignup()">
Create a new account
</button>
    <button ion-button block clear (click)="goToResetPassword()">
I forgot my password
</button>
  </ion-content>