<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Reset your Password
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <img src="http://placehold.it/300x100">
  <form [formGroup]="resetPasswordForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email
address"  [class.invalid]="!resetPasswordForm.controls.email.valid &&
resetPasswordForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPasswordForm.controls.email.valid &&
resetPasswordForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid">
Reset your Password
</button>
  </form>
</ion-content>